<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul class="messages">
      <% if (locals.messages) { %>
        <% messages.forEach((message) => { %>
          <li class="message">
            <div class="message-header">
              <div class="message-user">
                <%- message.username %>
              </div>
              <div class="message date">
                <%- message.timestamp %>
              </div>
            </div>
            <div class="message-text">
              <%= message.message %>
            </div>
          </li>
        <% }); %>
      <% } %>
    </ul>
    <a class="comment-button" href="./new">Leave a comment</a>
  </body>
</html>
